{{#if error}}
<div class="alert alert-danger">
    {{#each error}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}

{{#if success_msg}}
<div class="alert alert-success">
    {{#each success_msg}}
    <p>{{this}}</p>
    {{/each}}
</div>
{{/if}}